/* Cairo Start */

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 900;
  src: url('/font-inter/black.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 800;
  src: url('/font-inter/extra-bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  src: url('/font-inter/bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 600;
  src: url('/font-inter/semibold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 500;
  src: url('/font-inter/medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: url('/font-inter/regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 300;
  src: url('/font-inter/light.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 200;
  src: url('/font-inter/extra-light.woff2') format('woff2');
  font-display: swap;
}

/* Cairo End */
