/* Inter Start */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/inter/black-normal.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  src: url('/fonts/inter/black-italic.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/inter/extra-bold-normal.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  src: url('/fonts/inter/extra-bold-italic.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/inter/bold-normal.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/inter/bold-italic.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/inter/semibold-normal.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/inter/semibold-italic.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/inter/medium-normal.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/inter/medium-italic.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter/regular-normal.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/inter/light-normal.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/inter/light-italic.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/inter/extra-light-normal.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  src: url('/fonts/inter/extra-light-italic.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/inter/thin-normal.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100;
  src: url('/fonts/inter/thin-italic.ttf') format('ttf');
  font-display: swap;
}

/* Inter End */
/* Commuters Sans Start */

@font-face {
    font-family: 'Commuters Sans';
    src: url('/fonts/commuters-sans/extra-light-italic.eot'),
         url('/fonts/commuters-sans/extra-light-italic.woff2') format('woff2'),
         url('/fonts/commuters-sans/extra-light-italic.woff') format('woff'),
         url('/fonts/commuters-sans/extra-light-italic.ttf') format('ttf');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Commuters Sans';
    src: url('/fonts/commuters-sans/semibold-normal.eot'),
         url('/fonts/commuters-sans/semibold-normal.woff2') format('woff2'),
         url('/fonts/commuters-sans/semibold-normal.woff') format('woff'),
         url('/fonts/commuters-sans/semibold-normal.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commuters Sans';
    src: url('/fonts/commuters-sans/heavy-italic.eot'),
         url('/fonts/commuters-sans/heavy-italic.woff2') format('woff2'),
         url('/fonts/commuters-sans/heavy-italic.woff') format('woff'),
         url('/fonts/commuters-sans/heavy-italic.ttf') format('ttf');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Commuters Sans';
    src: url('/fonts/commuters-sans/thin-normal.eot'),
         url('/fonts/commuters-sans/thin-normal.woff2') format('woff2'),
         url('/fonts/commuters-sans/thin-normal.woff') format('woff'),
         url('/fonts/commuters-sans/thin-normal.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commuters Sans';
    src: url('/fonts/commuters-sans/extra-light-normal.eot'),
         url('/fonts/commuters-sans/extra-light-normal.woff2') format('woff2'),
         url('/fonts/commuters-sans/extra-light-normal.woff') format('woff'),
         url('/fonts/commuters-sans/extra-light-normal.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commuters Sans';
    src: url('/fonts/commuters-sans/light-italic.eot'),
         url('/fonts/commuters-sans/light-italic.woff2') format('woff2'),
         url('/fonts/commuters-sans/light-italic.woff') format('woff'),
         url('/fonts/commuters-sans/light-italic.ttf') format('ttf');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Commuters Sans';
    src: url('/fonts/commuters-sans/bold-normal.eot'),
         url('/fonts/commuters-sans/bold-normal.woff2') format('woff2'),
         url('/fonts/commuters-sans/bold-normal.woff') format('woff'),
         url('/fonts/commuters-sans/bold-normal.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commuters Sans';
    src: url('/fonts/commuters-sans/regular-normal.eot'),
         url('/fonts/commuters-sans/regular-normal.woff2') format('woff2'),
         url('/fonts/commuters-sans/regular-normal.woff') format('woff'),
         url('/fonts/commuters-sans/regular-normal.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commuters Sans';
    src: url('/fonts/commuters-sans/extra-bold-italic.eot'),
         url('/fonts/commuters-sans/extra-bold-italic.woff2') format('woff2'),
         url('/fonts/commuters-sans/extra-bold-italic.woff') format('woff'),
         url('/fonts/commuters-sans/extra-bold-italic.ttf') format('ttf');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Commuters Sans';
    src: url('/fonts/commuters-sans/bold-italic.eot'),
         url('/fonts/commuters-sans/bold-italic.woff2') format('woff2'),
         url('/fonts/commuters-sans/bold-italic.woff') format('woff'),
         url('/fonts/commuters-sans/bold-italic.ttf') format('ttf');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Commuters Sans';
    src: url('/fonts/commuters-sans/thin-italic.eot'),
         url('/fonts/commuters-sans/thin-italic.woff2') format('woff2'),
         url('/fonts/commuters-sans/thin-italic.woff') format('woff'),
         url('/fonts/commuters-sans/thin-italic.ttf') format('ttf');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Commuters Sans';
    src: url('/fonts/commuters-sans/semibold-italic.eot'),
         url('/fonts/commuters-sans/semibold-italic.woff2') format('woff2'),
         url('/fonts/commuters-sans/semibold-italic.woff') format('woff'),
         url('/fonts/commuters-sans/semibold-italic.ttf') format('ttf');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Commuters Sans';
    src: url('/fonts/commuters-sans/light-normal.eot'),
         url('/fonts/commuters-sans/light-normal.woff2') format('woff2'),
         url('/fonts/commuters-sans/light-normal.woff') format('woff'),
         url('/fonts/commuters-sans/light-normal.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Commuters Sans';
    src: url('/fonts/commuters-sans/heavy-normal.eot'),
         url('/fonts/commuters-sans/heavy-normal.woff2') format('woff2'),
         url('/fonts/commuters-sans/heavy-normal.woff') format('woff'),
         url('/fonts/commuters-sans/heavy-normal.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commuters Sans';
    src: url('/fonts/commuters-sans/extra-bold-normal.eot'),
         url('/fonts/commuters-sans/extra-bold-normal.woff2') format('woff2'),
         url('/fonts/commuters-sans/extra-bold-normal.woff') format('woff'),
         url('/fonts/commuters-sans/extra-bold-normal.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commuters Sans';
    src: url('/fonts/commuters-sans/light-normal.eot'),
         url('/fonts/commuters-sans/light-normal.woff2') format('woff2'),
         url('/fonts/commuters-sans/light-normal.woff') format('woff'),
         url('/fonts/commuters-sans/light-normal.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
