/* Inter Start */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/inter/black-normal.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  src: url('/fonts/inter/black-italic.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/inter/extra-bold-normal.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  src: url('/fonts/inter/extra-bold-italic.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/inter/bold-normal.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/inter/bold-italic.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/inter/semibold-normal.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/inter/semibold-italic.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/inter/medium-normal.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/inter/medium-italic.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter/regular-normal.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/inter/light-normal.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/inter/light-italic.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/inter/extra-light-normal.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  src: url('/fonts/inter/extra-light-italic.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/inter/thin-normal.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100;
  src: url('/fonts/inter/thin-italic.ttf') format('ttf');
  font-display: swap;
}

/* Inter End */
