@import './font.css';
@import "tailwindcss";


@theme {
  --font-custom-sans:  'Inter', 'Helvetica Neue', 'Arial', 'sans-serif';
  --font-custom-commuters : 'Commuters Sans', 'Helvetica Neue', 'Arial', 'sans-serif';


  --color-primary : #779e7c;  /* #87AC8A; */
  --color-primary-50: #f2f7f2;
  --color-primary-100: #e1ebe0;
  --color-primary-200: #c3d7c4;
  --color-primary-300: #9bba9e;
  --color-primary-400: #779e7c;
  --color-primary-500: #4f7a56;
  --color-primary-600: #3b6042;
  --color-primary-700: #2f4d36;
  --color-primary-800: #273e2c;
  --color-primary-900: #213325;
  --color-primary-950: #121c15;
}

@layer base {
  * {
    @apply focus:outline-none focus:ring-1 focus:ring-primary-300 focus:bg-primary-50 focus:border-0;
  }

  *::marker {
      color: var(--color-primary);
  }

  body {
    font-family: var(--font-custom-sans);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
