@import './font.css';
@import "tailwindcss";


@theme {
  --font-custom-sans: 'Cairo', 'Inter', 'Helvetica Neue', 'Arial', 'sans-serif';
  --color-primary : #87AC8A;
}

@layer base {
  * {
    @apply font-custom-sans focus:outline-none  ;
  }

  body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
